body{
    font-family: Arial, Helvetica, sans-serif, Cassandra;
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color: black;
}

/*Global*/
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.color{
    color: snow;
}

.button_1{
    height: 38px;
    background-color: rgba(218, 165, 32);
    border: rgb(138, 100, 6, 0.3) 2px solid;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.page-title{
    font-size: 30px;
    text-align: center;
    color: snow;
}

.page-title2{
    font-size: 20px;
    text-align: center;
    color: snow;
}

.disclaimer{
    font-size: 10px;
    font-style: italic;
    padding-top: 1px;
    color: snow;
}

.quote{
    font-size: 10px;
    font-style: italic;
    padding-top: 1px;
    color: snow;
}

.aboutme{
    font-size: 20px;
    font-style: italic;
    padding-top: 1px;
    color: snow;    
}
.names{
    font-size: #0px;
    font-weight: bolder;
    padding-top: 1px;
    color: snow;    
}

/* Header **/
header{
    background-color: rgb(10, 10, 10);
    color: goldenrod;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: silver 4px solid;
}
header a{
    color: goldenrod;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
    font-size: 60px;
    font-family: Casandra;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .hightlight, header .current a{
    color: goldenrod;
    font-weight: bolder;
}

header a:hover{
    color: silver;
    font-weight: bold;
}
/*ShowCase*/

.showcase{
    min-height: 480px;
    background: url("../img/Show_case_background.png") no-repeat;
    text-align: center;
    color: snow;
}

.showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.showcase p{
    font-size: 20px;
}

/* Newsletter*/

#newsletter{
    padding: 15px;
    color: snow;
    background-color: rgb(10, 10, 10);

}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    min-height: 25px;
    max-height: auto;
    min-width: 250px;
    max-width: auto;
}

/* Boxes */

#boxes h3{
    color: snow;
    font-weight: bolder;
    font-size: 20px;
}

#boxes{
    margin-top: 20px;

}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 20px;
}

#boxes.box img{
    width: 90px;
    min-width: 30px;
}

/* Footer */

footer{
    padding: 20px;
    margin-top: 20px;
    border-top: silver 4px solid;
    min-height: 70px;
    text-align: center;
    color: snow;
    background-color: rgb(10, 10, 10)
}

/* About Page */

#main-col{
    text-align: center;
}