body {
    margin: 0;
    background-image: url(login_background.png); /* The image used */
    background-position: center; /* Center the image */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

h1 {
    color: #b89c00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mea Culpa', cursive;
    font-size: 90px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}