[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
sentry-sdk = "*"
"discord.ext" = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
aenum = "*"
aiohttp = "*"
wavelink = "*"
async-cse = "*"
asyncpraw = "*"
asyncio = "*"
pyyaml = "*"
parsedatetime = "*"
colorlog = "*"

[dev-packages]

[requires]
python_version = "3.9.13"
