Django~=3.2.4
JarvisAI~=3.1
Js2Py==0.70
Keras-Preprocessing==1.1.2
Markdown==3.3.3
Pillow>=8.3.2
PyAudio~=0.2.11
PyPrind==2.11.2
PyYAML~=5.4.1
SoundFile==0.10.3.post1
SpeechRecognition==3.8.1
Werkzeug==1.0.1
absl-py==0.11.0
appdirs==1.4.4
astunparse==1.6.3
audioread==2.1.9
auto-face-recognition==0.0.3
beautifulsoup4==4.9.3
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cvzone==1.1.1
cycler==0.10.0
decorator==4.4.2
discord.py==1.7.2
docopt==0.6.2
filelock==3.0.12
gTTS==2.2.1
gast==0.4.0
google-auth-oauthlib==0.4.2
google-auth==1.27.0
google-pasta==0.2.0
grpcio==1.34.0
h5py~=3.1.0
idna==2.10
ipython~=7.24.1
joblib==1.0.1
kiwisolver==1.3.1
lazyme==0.0.23
librosa==0.8.0
lxml~=4.6.1
matplotlib~=3.3.4
numpy~=1.18.5
oauthlib==3.1.0
opencv-contrib-python==4.5.2.52
opencv-python==4.5.2.52
opt-einsum==3.3.0
packaging==20.9
pandas~=1.2.4
pathlib~=1.0.1
pipwin==0.5.0
pip~=21.1.2
playsound==1.2.2
pooch==1.3.0
protobuf==3.15.1
psutil~=5.8.0
psycopg2
pySmartDL==1.3.4
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pydot~=1.4.2
pyjokes==0.6.0
pyjsparser==2.7.1
python-dateutil==2.8.1
pyttsx3~=2.90
pytz==2021.1
py~=1.10.0
regex==2020.11.13
requests-oauthlib==1.3.0
requests==2.25.1
resampy==0.2.2
rsa==4.7.1
sacremoses==0.0.43
scikit-learn~=0.24.1
scipy==1.6.1
seaborn~=0.11.1
setuptools~=57.0.0
six==1.15.0
sklearn~=0.0
soupsieve==2.2
tensorflow>=2.5.1
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.10.1
torch==1.7.1
tqdm==4.57.0
transformers==4.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3>=1.26.5
vosk~=0.3.30
wheel~=0.36.2
wikipedia==1.4.0
wrapt==1.12.1